@font-face {
  font-family: "SourceHanSansCN Bold";
  /* Project id 2621899 */
  src: url('../fonts/SourceHanSansCN-Bold.otf') format('truetype');
}

@font-face {
  font-family: "DIN-Bold";
  /* Project id 2621899 */
  src: url('../fonts/DIN-Bold.otf') format('truetype');
}

@font-face {
  font-family: "SourceHanSansCN Medium";
  /* Project id 2621899 */
  src: url('../fonts/SourceHanSansCN-Medium.otf') format('truetype');
}

@font-face {
  font-family: "SourceHanSansCN Regular";
  /* Project id 2621899 */
  src: url('../fonts/SourceHanSansCN-Regular.otf') format('truetype');
}

@font-face {
  font-family: "SourceHanSansCN Normal";
  /* Project id 2621899 */
  src: url('../fonts/SourceHanSansCN-Normal.otf') format('truetype');
}

@font-face {
  font-family: "SourceHanSansCN Light";
  /* Project id 2621899 */
  src: url('../fonts/SourceHanSansCN-Light.otf') format('truetype');
}

input,
button,
textarea {
  background: none;
  outline: none;
  border: .025rem solid #ccc;
}

input:focus,
textarea:focus,
button:focus {
  border: none;
}

p {
  font-family: "SourceHanSansCN Regular";
}
a {
  text-decoration: none;
  color: #333333;
  text-decoration: none;
}
a:hover,
a:active,
a:focus {
  color: #b72023;
  text-decoration: none;
}

ul {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}


body {
  background-color: #fff;
  font-family: "SourceHanSansCN Regular", "Microsoft YaHei", Helvetica, Arial, "Helvetica Neue", sans-serif;
}

* {
  letter-spacing: -.02em;
}

.hidden_xs {
  display: none !important;
}

.container_zz {
  width: 100%;
  padding: 0 1rem;
}

.header_bg {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 12;
  box-shadow: 0 .2rem .2rem rgba($color: #000000, $alpha: .2);

  .container_zz {
    padding: 0;
  }
}

.header_nav {
  padding: 0;

  .header_logo {
    width: 100%;
    text-align: center;
    height: 2.2rem;
    padding: .225rem 0;
    background-color: white;

    img {
      height: 1.75rem;
      display: inline-block;
      width: auto;
    }
  }

  .header_list {
    position: fixed;
    left: 0;
    top: 2.2rem;
    bottom: 0;
    overflow: hidden;
    padding: 0;
    transition-property: all;
    transition-duration: .5s, .5s;
    right: 100%;
    width: 0;
    margin-bottom: 0;
    margin-top: 0;
    height: calc(100% - 2.2rem);
    background-color: #fff;

    >li {
      position: relative;
      display: block;
      padding: 0;
      text-align: left;
      border-bottom: 0.05rem solid #d5d7d9;
      padding-left: .6rem;
      width: 100vw;

      a {
        line-height: 2rem;
      }
      .childMenu{
        display: none;
      }
    }

    li a {
      color: #3f3f3f;
      font-size: .6rem;
    }
  }

  .header_right {
    display: none;
  }

  .change_btn {
    position: fixed;
    left: .5rem;
    top: .75rem;

    img {
      width: .95rem;
    }
  }
}

.open_nav {
  .header_nav {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.4);

    .header_list {
      height: 100%;
      padding: 0 .15rem;
      right: 0;
      width: 13rem;
      border-top: 0.05rem solid #d5d7d9;
    }
  }

  .open_btn {
    display: none;
  }

  .close_btn {
    display: block;
  }
}

.close_nav {
  .open_btn {
    display: block;
  }

  .close_btn {
    display: none;
  }
}

.banner {
  margin-top: 2rem;
  .container_zz {
    width: 100%;
    max-width: none;
  }

  .swiper-container {
    position: relative;

    .swiper-slide {
      position: relative;

      >.imgFull {
        width: 100%;
        display: inline-block;
      }
    }

    .banner-prev,
    .banner-next {
      position: absolute;
      top: 50%;
      z-index: 11;
      outline: none;
      cursor: pointer;
      transform: translateY(-50%);

      img {
        height: 1.15rem;
      }
    }

    .banner-prev {
      left: 3%;
    }

    .banner-next {
      right: 3%;
    }

    .swiper-pagination {
      bottom: 1rem;

      .my-bullet {
        width: 2.425rem;
        height: .025rem;
        background-color: rgba($color: #fff, $alpha: .4);
        display: inline-block;
        cursor: pointer;
        position: relative;

        .num {
          position: absolute;
          top: -.75rem;
          color: #fff;
          font-family: "DIN";
          font-weight: bold;
          font-size: .35rem;
        }
      }

      .my-bullet-active {
        background-color: #fff;
        margin-bottom: -.05rem;
        height: .1rem;

        .num {
          top: -.725rem;
        }
      }
    }

    .banner_more {
      position: absolute;
      left: 15.3516vw;
      bottom: 16.7969vw;
      z-index: 999;
      width: 6.95vw;
      height: 1.8vw;
      border: .025rem solid #fff;
      border-radius:.9vw;
      line-height: 1.8vw;
      overflow: hidden;

      &::after {
        content: "";
        position: absolute;
        width: 15.625vw;
        height: 15.625vw;
        right: -14.84vw;
        top: -4.68vw;
        background-color: rgba($color: #fff, $alpha: .3);
        transform: rotate(48deg);
        transition: all .5s;
        z-index: -1;
      }

      a {
        padding-left: 1.48vw;
        position: relative;
        font-weight: 500;
        font-size: .7vw;
        color: #fff;
        display: block;

        .icon_more {
          position: absolute;
          right: .59vw;
          top: 50%;
          margin-top: -.5vw;
          width: 1.01vw;
        }
      }

      &:hover {
        &::after {
          right: -9.375vw;
        }
      }
    }
  }
}

.i_common_title {
  text-align: center;
  padding-top: 2rem;

  .title_cn {
    font-size: 1.2rem;
    color: #333333;
    font-weight: bold;
    line-height: 1em;
    margin-bottom: .25rem;
  }

  .title_en {
    font-size: .75rem;
    color: #666666;
    margin-bottom: .5rem;
  }

  .title_more {
    padding-top: .375rem;

    a {
      font-size: .55rem;
      color: #b82023;
    }
  }
}

.i_solution {
  width: 100%;
  background: url(../images/bg/1.png), #F7F7F7;
  background-size: .03rem auto;

  .i_solution_intro {
    font-size: .5rem;
    text-align: center;
    margin-bottom: 2.25rem;
  }

  .i_solution_title {
    margin-bottom: .75rem;

    .title_cn {
      display: flex;
      font-size: 1rem;
      color: #333333;
      line-height: 1.2em;

      &::after {
        content: "";
        width: 2.5rem;
        margin-left: .375rem;
        margin-right: 2rem;
        flex: 1;
        height: .025rem;
        background-color: #bfbfbf;
        align-self: center;
      }
    }

    .title_en {
      font-size: .625rem;
      color: #666666;
    }
  }

  .solution_list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.25rem;

    li {
      width: 32%;
      height: 1.5rem;
      background-color: rgba(255, 255, 255, 0.95);
      font-size: .625rem;
      color: #666666;
      line-height:1.5rem;
      text-align: center;
      position: relative;
      cursor: pointer;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: .1rem;
        width: 100%;
        background-color: transparent;
      }

      &::after {
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;
        height: 0;
        border-width: .75rem .6rem;
        border-style: solid;
        border-right-color: #eeeeee;
        border-bottom-color: #eeeeee;
        border-left-color: transparent;
        border-top-color: transparent;
      }

      &.active {
        background-color: #b72023;
        color: white;

        &::before {
          background-color: #a00c0f;
        }

        &::after {
          border-right-color: #a00c0f;
          border-bottom-color: #a00c0f;
        }
      }
    }
  }

  .iproduct_show {
    padding-bottom: 1rem;
    .swiper-container .swiper-wrapper .swiper-slide{
      width: 100% !important;
    }
    .product_item {
      display: flex;
      flex-wrap: wrap;


      .item_left {
        overflow: hidden;
        width: 100%;
        // height: 17.65rem;

        img {
          width: 100%;
        }
      }

      .item_right {
        flex: 1;
        width: .25rem;
        display: flex;
        flex-direction: column;

        .item_header {
          display: flex;
          height: 8.85rem;
          margin-bottom: 1rem;

          .item_bg {
            width: 8rem;
            text-align: right;
            padding-left: 1.5rem;
            display: flex;
            align-items: flex-end;
            display: none;
            img{
              width: 6.225rem;
            }
          }

          .item_info {
            flex: 1;
            width: .25rem;
            text-align: right;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .item_title {
              width: 100%;
              margin-bottom: .5rem;
              text-align: right;

              span {
                font-size: 1.575rem;
                line-height: 1.5rem;
                color: #333;

                &::after {
                  height: 1.5rem;
                  width: .025rem;
                  content: "";
                  background-color: #717a81;
                  display: inline-block;
                  margin-left: .175rem;
                  margin-right: .5rem;
                }
              }

              font-size: .8rem;
              color: #000;
            }

            .item_content {
              width: 100%;

              p {
                font-size: .5rem;
                color: #666666;
                line-height: .85rem;
              }
            }
          }
        }

        .item_body {
          position: relative;
          display: flex;
          height: .25rem;
          flex: 1;
          z-index: 1;
          justify-content: flex-end;
          align-items: center;
          padding-bottom: 1rem;

          .item_more {
            width: 4.35rem;
            height: 1.25rem;
            background-color: #b72023;
            text-align: center;
            margin-top: 2.5rem;
            position: relative;

            a {
              font-size: .4rem;
              color: #fff;
              display: block;
              line-height: 1.25rem;
              position: relative;

              &::after {
                content: "";
                width: .375rem;
                height: .05rem;
                background-color: #fff;
                position: absolute;
                right: .825rem;
                top: 50%;
                z-index: 1;
              }

              &::before {
                content: "";
                width: 1.725rem;
                height: .05rem;
                background-color: #fff;
                position: absolute;
                right: -1.325rem;
                top: 50%;
                z-index: 1;
              }
            }

            &::after {
              content: "";
              position: absolute;
              right: 0;
              bottom: 0;
              height: 0;
              border-width: .625rem .45rem;
              border-style: solid;
              border-right-color: #a00c0f;
              border-bottom-color: #a00c0f;
              border-left-color: transparent;
              border-top-color: transparent;
            }
          }

          .item_img {
            margin-left: .5rem;
          }

          &::after {
            content: "";
            right: -1rem;
            left: -1rem;
            bottom: 0;
            height: 7rem;
            background-color: #dcdcdc;
            position: absolute;
            z-index: -1;
          }
        }
      }
    }
  }

  .field_swiper {
    padding-top: 2rem;
    background-image: url(../images/home/field/bg.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;

    .i_solution_title {
      margin-bottom: 1.125rem;
    }
    .swiper-wrapper {
      .swiper-slide {
        position: relative;

        >img {
          width: 100%;
        }

        .slide_content {
          position: absolute;
          left: 2.54vw;
          width: calc(100% - 5.08vw);
          display: flex;
          justify-content: space-between;
          align-items: center;
          height: 2.58vw;

          h3 {
            color: white;
            font-size: .976vw;
            font-weight: bold;
            margin: 0;
          }
        }

        &:nth-child(odd) {
          padding-top: 2.62vw;

          .slide_content {
            bottom: .9375vw;
            border-top: .025rem solid #fff;
          }
        }

        &:nth-child(even) {
          padding-bottom: 2.62vw;

          .slide_content {
            top: .82vw;
            border-bottom: .025rem solid #fff;
            > a >img{
              width: 1.29vw;
            }
          }
        }
      }
    }

    .field_action {
      display: flex;
      margin-top: 1.48vw;

      .field-pagination {
        width: 41vw;
        height: 8vw;
        background-color: rgba(0, 0, 0, 0.6);
        line-height: 8vw;
        text-align: right;

        .pagination_count {
          display: inline-block;
          margin-right: 14.5vw;
          font-size: 1.5vw;
          color: #fff;
          position: relative;
          left: auto;
          bottom: auto;
          width: auto;

          &::after {
            content: "";
            position: absolute;
            width: 2vw;
            height: .025rem;
            background-color: #ffffff;
            left: -2.95vw;
            top: 50%;
            z-index: 1;
          }

          &::before {
            content: "";
            position: absolute;
            width: 12vw;
            height: .025rem;
            background-color: #ffffff;
            right: -13vw;
            top: 50%;
            z-index: 1;
          }
        }
      }
    }

    .banner-prev {
      width: 8vw;
      height: 8vw;
      text-align: center;
      line-height: 8vw;
      background-color: #616161;

      img {
        transform: rotate(180deg);
        width: 1vw;
      }
    }

    .banner-next {
      width: 8vw;
      height: 8vw;
      text-align: center;
      line-height: 8vw;
      background-color: #b82023;

      img {
        width: 1vw;
      }
    }
  }
}

.i_news {

  .news_swiper {
    margin-top: 1.2rem;
    width: 100%;
    overflow: hidden;
    position: relative;

    .swiper-container {
      width: 100% ;
    }

    .swiper-slide {
      opacity: .6;
      position: relative;

      >img {
        border-radius: .25rem;
        width: 100%;
      }

      .content {
        transition: all .5s;
        opacity: 0;
        width: 60vw;
        height: 35vw;
        background-color: rgba($color: #fff, $alpha: .95);
        position: absolute;
        left: 20vw;
        bottom: 1vw;
        border-radius: .39vw;
        box-shadow: 0 .39vw .39vw rgba($color: #a7a7a7, $alpha: .30);
        padding: 1.17vw .55vw 1.17vw 1.17vw;

        .title {
          font-size: 3vw;
          line-height: 1.6em;
          color: #333333;
          margin-bottom: .976vw;
        }

        .details {
          font-size: 2vw;
          color: #666666;
          line-height: 1.6em;
          margin-bottom: 1.17vw;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 3;
          overflow: hidden;
        }

        .time {
          font-size: 1.8vw;
          color: #999999;
          margin-bottom: 1.09vw;
        }

        .more {
          width: 14vw;
          height: 4vw;
          background-color: #b72023;
          text-align: center;
          position: relative;
          line-height: 4vw;
          color: #ffffff;
          display: inline-block;
          margin-right: .78vw;
          a{
            font-size: 1.8vw;
            color: #ffffff;
          }

          &::after {
            content: "";
            position: absolute;
            right: 0;
            bottom: 0;
            height: 0;
            border-width: .66vw .39vw;
            border-style: solid;
            border-right-color: #c64d4f;
            border-bottom-color: #c64d4f;
            border-left-color: transparent;
            border-top-color: transparent;
          }
        }
      }

      &.swiper-slide-active {
        opacity: 1;

        .content {
          opacity: 1;
        }
      }
    }

    .banner-prev {
      position: absolute;
      top: 40%;
      left: 2.64vw;
      z-index: 8;
      transform: translateY(-50%);
      >img{
        width:10vw;
      }
    }

    .banner-next {
      position: absolute;
      top: 40%;
      right: 2.64vw;
      z-index: 8;
      transform: translateY(-50%);
      >img{
        width:10vw;
      }
    }
  }
}

.i_service {
  background: url(../images/home/company/1/bg2.png) no-repeat left 9rem, #f7f7f7;
  background-size: 8rem auto;
  padding-bottom: 3.05rem;

  .i_common_title {
    margin-bottom: 1.875rem;
  }

  .service_title {
    margin-bottom: 1rem;

    .title_b {
      font-size: .875rem;
      color: #333333;
      margin-bottom: .25rem;
    }

    .title_s {
      font-size: .5rem;
      color: #999999;
    }
  }

  .service_list {
    display: flex;
    margin-bottom: 3.5rem;
    flex-wrap: wrap;

    li {
      margin-right: 1rem;
      width: calc( 50% - .75rem);
      position: relative;
      margin-bottom: .75rem;

      >img {
        width: 100%;
      }

      .item_content {
        position: absolute;
        width: calc(100% - 1.25rem);
        height: 2.25rem;
        top: 1.6rem;
        left: .625rem;
        background-image: url(../images/home/company/1/bg.png);
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        padding-top: .325rem;

        .item_no {
          width: .8rem;
          height: .8rem;
          line-height: .7rem;
          border: .05rem solid #636363;
          margin: 0 auto;
          margin-bottom: .2rem;
          font-size: .4rem;
        }

        .item_title {
          font-size: .5rem;
          font-weight: bold;
        }
      }

      &:nth-child(2n) {
        margin-right: 0;
      }
    }
  }

  .i_partner {
    display: flex;
    flex-wrap: wrap;

    .partner_left {
      width: 100%;

      .title1 {
        font-size: 1.275rem;
        font-weight: lighter;
        color: #666666;
        line-height: 1em;
        margin-bottom: .375rem;
      }

      .title2 {
        font-size: 1.5rem;
        color: #333;
        font-weight: bold;
        line-height: 1em;
        margin-bottom: .2rem;
      }

      .title3 {
        font-size: .5rem;
        color: #666666;
        margin-bottom: .25rem;
      }

      .line {
        width: 1.875rem;
        height: .025rem;
        background-color: #a0a0a0;
        margin-bottom: 1.5rem;
      }

      .change_btn {
        display: flex;
        margin-bottom: 1rem;

        .btn_pre {
          margin-right: .75rem;
        }
      }
    }

    .partner_right {
      width: 100%;

      li {
        margin-right: .1rem;
        height: 2.25rem;
        background-color: #ffffff;
        display: flex;
        align-items: center;
        margin-bottom: .175rem;
        justify-content: center;
        transition: all .5s;
        cursor: pointer;
        >img{
          width: 100%;
        }

        &:last-child {
          margin-right: 0;
        }

        &:hover {
          box-shadow: 0 0 .75rem rgba($color: #8b8b8b, $alpha: .4);
          position: relative;
          z-index: 9;
        }
      }

      .partner_list1 {
        display: flex;

        li {
          width: calc((100% - .625rem) / 8);
        }
      }

      .partner_list2 {
        display: flex;

        li {
          width: calc((100% - .6rem) / 7);
        }
      }
    }
  }
}

.i_contact {
  margin-bottom: 2.2rem;

  .contact_header {
    height: 11.7rem;

    >img {
      width: 100%;
      height: 100%;
    }

    .header_content {
      text-align: center;
      margin-top: -9.25rem;

      .line {
        width: 4.1rem;
        height: .025rem;
        background-color: #b72023;
        display: inline-block;
        margin-bottom: .125rem;
      }

      .title {
        font-size: 1.125rem;
        font-weight: 500;
        color: white;
        margin-bottom: .25rem;

        span {
          font-weight: lighter;
        }
      }

      .details {
        font-size: .5rem;
        color: white;
      }

    }
  }

  .i_contact_details {
    display: flex;
    margin-top: -2.3rem;
    flex-wrap: wrap;

    .details_left {
      height: 13.5rem;
      width: 100%;
      position: relative;

      >img {
        width: 100%;
        height: 100%;
      }

      .details_pre {
        position: absolute;
        bottom: .5rem;
        right: 2.975rem;
        cursor: pointer;
        z-index: 3;
      }

      .details_next {
        position: absolute;
        bottom: .5rem;
        right: .725rem;
        cursor: pointer;
        z-index: 3;
      }
    }

    .details_right {
      width: 100%;
      flex: 1;
      height: 13.5rem;
      background-color: #ecedee;
      display: flex;
      flex-direction: column;
    }

    .details_info {
      padding-top: 1.75rem;
      padding-left: 1.5rem;
      height: 2.5rem;
      flex: 1;

      li {
        display: flex;
        margin-bottom: 1rem;

        .item_icon {
          width: 1.5rem;
          height: 1.5rem;
          border-radius: 50%;
          line-height: 1.5rem;
          text-align: center;
          background-color: #dcdcdc;
          margin-right: .5rem;
        }

        .item_intro {
          width: .25rem;
          flex: 1;

          .item_title {
            font-size: .475rem;
            color: #999999;
            font-weight: normal;
            font-family: "SourceHanSansCN";
          }

          .item_text {
            font-size: .475rem;
            color: #666666;
            font-weight: normal;
            font-family: "SourceHanSansCN";
          }
        }
      }
    }

    .details_btn {
      background-color: #d2d2d2;
      height: 3.55rem;
      display: flex;
      align-items: center;

      li {
        width: 5.1rem;
        height: 1.575rem;
        background-color: #b82023;
        border-radius: .1rem;
        margin-left: 2.125rem;
        text-align: center;
        line-height: 1.55rem;

        >img {}

        a {
          display: block;
          font-size: .5rem;
          color: #fff;
        }
      }
    }
  }
}

.footer {
  background: url(../images/footer/bg.jpg) no-repeat center bottom;
  background-size: cover;

  .header_border {
    height: 2.7rem;
    border-bottom: .025rem solid #bfbfbf;
    margin-bottom: 1.2rem;
  }

  .footer_header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2.7rem;

    .header_logo {}

    .header_ph {
      font-size: .675rem;
      line-height: 1em;
      font-family: "DIN";
      font-weight: bold;
      color: #b82124;
      display: flex;
      align-items: center;

      >img {
        margin-right: .175rem;
      }
    }
  }

  .footer_body {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 1.5rem;

    .footer_navlist {
      width: 100%;
      flex: 1;
      display: flex;
      flex-wrap: wrap;

      >li {
        width: calc(100% / 3);
        height: 7.2rem;
        padding-left: .5rem;
        background: url(../images/footer/line.jpg) no-repeat top right;

        &:nth-child( 3n - 2){
          padding-left: 0;
        }

        &:nth-child(3n) {
          background: none;
        }

        .item_title {
          font-size: .7rem;
          font-family: "SourceHanSansCN";
          font-weight: normal;
          color: #333333;
          position: relative;
          line-height: 1.8em;
          margin-bottom: .25rem;

          &::before {
            position: absolute;
            content: "";
            width: 100%;
            max-width: 1.3rem;
            height: .05rem;
            left: 0;
            bottom: 0;
            background-color: #434343;
          }
        }

        .item_list {
          li {
            a {
              font-size: .5rem;
              color: #666666;
              line-height: .75rem;
            }
          }
        }
      }
    }

    .footer_ewm {
      width: 100%;

      .ewm_img {
        display: inline-block;
        >img {
          width: 4rem;
        }
      }

      .ewm_text {
        width: 4rem;
        text-align: center;
        font-size: .375rem;
        font-family: "SourceHanSansCN";
        font-weight: normal;
        line-height: 2em;
      }
    }
  }

  .footer_info {
    background-color: rgba(0, 0, 0, 0.2);
    text-align: center;
    color: #666666;
    padding:.5rem 0;

    span {
      font-size: .5rem;
      line-height: 1.6em;
      font-family: "SourceHanSansCN";
      font-weight: normal;
      margin-right: 1rem;
      width: 100%;
      display: block;

      &:last-child {
        margin-right: 0;
      }

      a{
        color: #a00c0f;
      }
    }
  }
}

.inner_banner {
  background-size: cover;
  background-position: center top;
  height: 14.45rem;
  overflow: hidden;

  .title_b {
    font-weight: bold;
    font-size: 1.3rem;
    color: white;
    margin-top: 6.25rem;
    margin-bottom: .5rem;
  }

  .title_s {
    color: white;
    font-family: "SourceHanSansCN";
    font-weight: 500;
    font-size: .625rem;
  }
}

.news_change {
  display: flex;
  justify-content: center;
  padding-top: .5rem;
  border-bottom: .025rem solid #dcdcdc;

  li {
    padding: 0 .175rem;
    line-height: 2.1rem;
    margin: 0 .4rem;

    a {
      font-size: .5rem;
    }

    &.active {
      border-bottom: .075rem solid #b72023;

      a {
        color: #b72023;
      }
    }
  }
}

.news_show {
  display: flex;
  flex-direction: column;
  padding-top: 1.45rem;
  margin-bottom: 1.8rem;

  .show_left {
    width: 100%;
    margin-bottom: 1rem;
    .show_item {

      img {
        width: 100%;
      }

      .bg_box {
        height: 1.75rem;
        line-height: 1.75rem;
        position: absolute;
        left: 0;
        bottom: 0;
        height: 1.75rem;
        line-height: 1.75rem;
        background-color: rgba(0, 0, 0, 0.6);
        width: 100%;
        color: white;
        font-size: .4rem;
        padding: 0 2.5rem 0 .7rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    .swiper-pagination {
      height: .2rem;
      bottom: .875rem;
      right: 0;
      left: auto;
      display: inline-block;
      width: 4rem;
      text-align: center;
      .my-bullet {
        width:.2rem;
        height: .2rem;
        background-color: #fff;
        display: inline-block;
        border-radius: .1rem;
        margin:0 .1rem;
        transition: all .5s;
      }

      .my-bullet-active {
        width: .675rem;
      }
    }
  }

  .show_right {
    width: 100%;
    flex: 1;

    li {
      display: flex;
      margin-bottom: .475rem;

      &:last-child {
        margin-bottom: 0;
      }

      .item_date {
        width: 3.025rem;
        height: 3.175rem;
        background-color: #b72023;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .item_days {
          font-size: .75rem;
          font-family: "DIN";
          font-weight: lighter;
          color: white;
        }

        .item_year {
          font-size: .5rem;
          font-family: "DIN";
          font-weight: lighter;
          color: white;
        }
      }

      .item_content {
        background-color: #f2f2f2;
        padding-top: .625rem;
        padding-left: .875rem;
        padding-right: 1.25rem;
        flex: 1;

        .item_title {
          font-size: .45rem;
          color: #333333;
          margin-bottom: .2rem;
        }

        .item_detail,
        p {
          font-size: .35rem;
          color: #666666;
          line-height: .55rem;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          overflow: hidden;
        }
      }
    }
  }
}

.news_list {
  border-top: .025rem solid #dcdcdc;

  .news_item {
    border-bottom: .025rem solid #dcdcdc;
    display: flex;
    padding: 1.125rem 0 1.25rem 0;

    .item_date {
      width: 3rem;

      .item_days {
        font-size: 1.35rem;
        color: #999999;
        font-family: "DIN";
        font-weight: bold;
      }

      .item_right {
        .item_year {
          font-weight: normal;
          font-size: .45rem;
          color: #999999;
        }

        >img {}
      }
    }

    .item_img {
      width: 5rem;
      height: 4rem;
      display: none;

      >img {
        width: 100%;
        height: 100%;
      }
    }

    .item_detail {
      padding-left: .85rem;
      padding-top: .25rem;
      flex: 1;

      .item_title {
        font-size: .6rem;
        color: #333333;
        font-family: "SourceHanSansCN";
        font-weight: bold;
        margin-bottom: .2rem;
      }

      .item_content,
      .item_content p {
        font-size: .5rem;
        color: #666666;
        line-height: 1.8em;

      }

      .item_content {
        margin-bottom: 1rem;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
      }

      .more {}
    }
  }
}

.pagination_list {
  display: flex;
  justify-content: center;
  padding-top: .8rem;
  padding-bottom: 2.55rem;

  li {
    width: 1.2rem;
    height: 1.2rem;
    border: .025rem solid #dcdcdc;
    line-height: 1.2rem;
    text-align: center;
    margin: 0 .325rem;

    a {
      font-size: .4rem;
      color: #999999;
      font-family: "SourceHanSansCN";
      display: block;
    }

    &.active {
      background-color: #a00c0f;

      a {
        color: #ffffff;
      }
    }

    &.change_btn {
      img {
        margin-top: -.075rem;
      }
    }
  }
}

.contact_wrapper {
  padding-top: 2rem;

  .inner_common_title {
    text-align: center;
    margin-bottom: 1.3rem;

    .title_cn {
      font-size: 1rem;
      color: #333333;
    }

    .title_en {
      font-size: .55rem;
      color: #999999;
    }

    &::after {
      content: "";
      width: 2.3rem;
      height: .025rem;
      background-color: #a00c0f;
      display: inline-block;
    }
  }

  .map {
    height: 17.35rem;
    width: 100%;

    .BMapLib_bubble_top,
    .BMapLib_trans,
    .anchorBL {
      display: none;
    }

    .BMapLib_SearchInfoWindow {
      border: none;
      background-color: transparent;
      bottom: -8.5rem !important;
    }

    .BMapLib_bubble_center {
      .BMapLib_bubble_content {
        padding: 0;

        .pop_map {
          width: 9.35rem;
          height: 2.85rem;
          background: #bb2b2f;
          display: flex;
          padding-top: .375rem;
          position: relative;

          .pop_content {
            width: 100%;
            padding: 0 .75rem;

            .pop_title {
              width: 100%;
              font-size: .6rem;
              color: #ffffff;
              margin-bottom: .3rem;
              font-family: "SourceHanSansCN";
              font-weight: bold;
              border-bottom: .025rem solid #ffffff;
              padding-bottom: .25rem;
            }

            .pop_addr {
              width: 100%;
              font-size: .4rem;
              color: #ffffff;
              line-height: .4rem;
              font-family: "SourceHanSansCN Normal";
            }
          }

          &::after {
            content: "";
            position: absolute;
            height: 0;
            border-style: solid;
            border-width: .3rem .25rem;
            border-color: #bb2b2f transparent transparent transparent;
            bottom: -.6rem;
            left: calc(50% - .25rem);
          }
        }
      }
    }
  }

  .contact_box {
    padding: 1rem;
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    z-index: 99;
    background-color: #ffffff;
    align-items: flex-start;

    .box_left {
      padding: .55rem;
      width: 4rem;
      border: .025rem solid #dcdcdc;

      >img {
        width: 100%;
        margin-bottom: .5rem;
      }

      .ewm_info {
        font-size: .5rem;
        font-family: "SourceHanSansCN";
        font-weight: normal;
        text-align: center;
      }
    }

    .box_right {
      width: 100%;
      padding-top: .9rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-content: flex-start;

      li {
        display: flex;
        width: 50%;
        padding-right: .5rem;

        .item_icon {
          width: 1.95rem;
          height: 1.95rem;
          border-radius: 50%;
          border: .025rem solid #b82024;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: .5rem;
        }

        .item_info {
          width: 1px;
          flex: 1;
          .item_name {
            font-size: .55rem;
            font-weight: bold;
            color: #333333;
            font-family: "SourceHanSansCN";
            border-bottom: .025rem solid #e5e5e5;
            padding-bottom: .075rem;
          }

          .item_det {
            font-size: .5rem;
            color: #999999;
            font-weight: normal;
            font-family: "SourceHanSansCN";
            padding-top: .175rem;
          }
        }

        &:nth-child(1),
        &:nth-child(2) {
          margin-bottom: .5rem;
        }
      }
    }
  }
}

.inner_nav {
  display: flex;
  padding-top: .5rem;
  border-bottom: .025rem solid #dcdcdc;

  li {
    padding: 0 .175rem;
    line-height: 2.1rem;
    margin: 0 .4rem;

    a {
      font-size: .5rem;
    }

    &.active {
      border-bottom: .075rem solid #b72023;

      a {
        color: #b72023;
      }
    }
  }
}

.robot_title {
  font-size: 1rem;
  color: #333333;
  font-family: "SourceHanSansCN";
  font-weight: bold;
  line-height: 1em;
}

.robot_title_en {
  color: #999999;
  font-size: .55rem;
  font-family: "SourceHanSansCN";
  font-weight: normal;
  line-height: 2.2em;
  margin-bottom: .875rem;

  .robot_border {
    border-bottom: .025rem solid #b72023;
    display: inline-block;
  }
}

.robot_intro {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  background: url(../images/robot/bg.png) left bottom no-repeat, #ecf1f5;

  .intro_flex {
    display: flex;
    flex-direction: column;

    .intro_left {
      width: 100%;
      flex: 1;
    }

    .intro_right {
      width: 100%;

      img {
        width: 60%;
      }
    }
  }

  .intro_content {
    font-family: "SourceHanSansCN";
    font-weight: normal;
    margin-bottom: 1rem;

    p {
      font-size: .4rem;
      line-height: 2em;
      color: #666666;
    }
  }

  .white_box {
    width: 100%;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-around;
    background-color: #ffffff;
    position: relative;
    z-index: 1;
    height: 3.55rem;
    align-items: center;

    .box_item {
      display: inline-block;
      color: #333333;
      font-size: .4rem;
      display: flex;
      align-items: center;

      img {
        margin-right: .2rem;
      }

      span {
        font-size: .8rem;
        color: #b72023;
        font-family: "DIN";
        font-weight: normal;
      }
    }
  }

  &.xianggu_intro{
    display: flex;
    .intro_flex {
      height: 100%;
      .intro_right {
        display: flex;
        align-self: flex-end;
      }
    }
  }
}

.robot_pro {
  padding-top: 3.75rem;
  margin-bottom: 4rem;
  &.xianggu_pro{
    padding-top: 2.5rem;
    margin-bottom: 2.5rem;
  }

  .pro_flex {
    display: flex;
    flex-direction: column;

    .pro_left {
      width: 100%;
      flex: 1;
    }

    .pro_right {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-bottom: 1rem;

      li {
        margin-left: 1rem;
        display: inline-block;
        line-height: 1.8rem;
        text-align: center;

        &.active {
          position: relative;

          &::after {
            content: "";
            position: absolute;
            height: .175rem;
            width: 100%;
            border-radius: .0875rem;
            background-color: #b82024;
            left: 50%;
            bottom: 0;
            transform: translateX(-50%);
          }

          a {
            color: #b82024;
          }
        }

        a {
          font-size: .75rem;
          font-family: "SourceHanSansCN";
          font-weight: normal;
        }
      }
    }
  }

  .pro_list {
    display: flex;
    flex-wrap: wrap;

    .pro_item {
      width: calc((100% / 2) - 1rem);
      height: 7.675rem;
      margin-right: 1.5rem;
      margin-bottom: .8rem;
      overflow: hidden;

      &:nth-child(2n) {
        margin-right: 0;
      }

      img {
        width: 100%;
        height: 100%;
        transition: all .5s;
      }

      &:hover {
        img {
          transform: scale(1.05);
        }
      }
    }
  }
}

.robot_customer {
  background: url(../images/robot/customers/bg.jpg) no-repeat center center, #ffffff;
  padding-top: 2.625rem;
  padding-bottom: 2.375rem;
  &.xianggu_customer{
    padding-top: 2rem;
  }
  .xianggu_customer_logo{
    padding-top: .75rem;
    .logo_item{
      width: 7.75rem;
      height: 3.5rem;
      box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.1);
      display: flex;
      background-color: #ffffff;
      align-items: center;
      justify-content: center;
    }
  }

  .robot_title_en {
    margin-bottom: .625rem;
  }

  .swiper-container {
    width: 100%;
    margin: 0 auto;
  }

  .customer_list {
    display: flex;
    flex-wrap: wrap;

    .customer_item {
      background-color: #ffffff;
      width: calc( (100% / 7) - .5rem);
      height: 2rem;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: .325rem .25rem;
      box-shadow: 0 0 .2rem rgba(0, 0, 0, 0.2);

      img {
        width: 80%;
      }
    }
  }

  .container_zz {
    position: relative;
  }

  .banner-prev,
  .banner-next {
    position: absolute;
    bottom: 20%;
    transform: translateY(-50%);

    .btb_h {
      display: none;
    }

    &:hover {
      .btn_o {
        display: none;
      }

      .btb_h {
        display: block;
      }
    }
  }

  .banner-prev {
    left: 0;
  }

  .banner-next {
    right: 0;
  }
}

.robot_culture {
  padding-top: 2.85rem;
  padding-bottom: 4.125rem;
  background-image: url(../images/robot/bg2.jpg);
  background-size: cover;
  background-position: center center;

  .culture_list {
    display: flex;
    flex-wrap: wrap;

    .culture_item {
      margin-bottom: .5rem;
      width: 50%;
      height: 6.5rem;
      background-color: #b72023;
      display: flex;
      justify-content: center;
      align-items: center;

      .item_icon {
        width: 2.125rem;
        height: 2.125rem;
        background-color: #ffffff;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: .375rem;
      }

      .item_info {
        .item_title_cn {
          font-size: .6rem;
          color: #fff;
          font-family: "SourceHanSansCN";
          font-weight: bold;
        }

        .item_title_en {
          font-size: .35rem;
          color: #fff;
          font-family: "SourceHanSansCN";
          font-weight: normal;
        }

      }

      &:nth-child(odd) {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;

        .item_info {

          .item_title_cn {
            color: #333;
          }

          .item_title_en {
            color: #333;
          }
        }
      }
    }
  }
}

.job_top {
  background-color: #f9fafb;

  .welfare_title {
    span {
      background-color: #f9fafb;
    }
  }
}

.job_intro {
  padding-top: 2rem;
  margin-bottom: 2rem;

  .intro_title {
    font-size: 1.2rem;
    color: #333333;
    font-family: "SourceHanSansCN";
    font-weight: normal;
    text-align: center;
    margin-bottom: .25rem;
  }

  .intro_content {
    color: #666666;
    font-family: "SourceHanSansCN";
    font-weight: normal;
    font-size: .6rem;
    text-align: center;
    line-height: 2em;
    margin-bottom: .875rem;
  }

  .intro_box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .intro_left,
    .intro_mid,
    .intro_right {
      display: flex;
      flex-direction: column;

      .intro_item {
        overflow: hidden;
        margin-bottom: .75rem;

        >img {
          width: 100%;
          height: 100%;
        }
      }
    }

    .intro_left,.intro_mid {
      width: 50%;
    }

    .intro_right {
      width: 50%;
      flex-direction: row;
    }

    .intro_item {
      position: relative;

      .item_title {
        position: absolute;
        font-size: .5rem;
        color: #ffffff;
        font-family: "SourceHanSansCN";
        font-weight: normal;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1.35rem;
        line-height: 1.35rem;
        background-color: rgba(0, 0, 0, 0.6);
        text-align: center;
      }
    }
  }
}

.welfare_title {
  background: url(../images/job/title_line.jpg) repeat-x left center;
  text-align: center;
  margin-bottom: 1.25rem;

  span {
    font-size: 1.2rem;
    background-color: #ffffff;
    padding: 0 .8rem;
    display: inline-block;
  }
}

.welfare_list {
  display: flex;
  flex-wrap: wrap;

  .welfare_item {
    width: calc(100%/3 - 1.05rem);
    height: 5rem;
    margin-right: 1.575rem;
    text-align: center;
    box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5rem;
    position: relative;
    background-color: #ffffff;
    &>img{
      width: 1.5rem;
    }

    &::after {
      position: absolute;
      content: "";
      width: 2rem;
      height: .05rem;
      background-color: #b82124;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
    }

    &:nth-child(3n) {
      margin-right: 0;
    }

    .item_icon {
      margin-bottom: .75rem;
    }

    .item_title {
      font-size: .6rem;
      color: #333333;
      font-family: "SourceHanSansCN";
      font-weight: normal;
    }
  }
}

.job_info {
  padding-top: 3rem;
  .welfare_title{
    margin-bottom: 1rem;
  }
  .job_list {
    margin-bottom: .5rem;
    .job_item {
      transition: all .5s;
      .job_item_top {
        display: flex;
        font-size: .5rem;
        font-family: "SourceHanSansCN";
        font-weight: normal;
        padding:0 .375rem;
        height: 2.125rem;
        line-height: 2.1rem;
        border-bottom: .025rem solid #e5e5e5;

        .top_left {
          flex: 1;
          width: .25rem;
          color: #333333;
        }

        .top_right {
          width: 7.5rem;
          color: #999999;
          span{
            margin:0 .35rem;
          }
          .show_more{
            display: inline-block;
            width: 2.5rem;
            text-align: right;
            cursor: pointer;
          }
        }
      }

      .job_item_content {
        padding:.75rem .5rem;
        display: none;
        h6 {
          font-size: .375rem;
          color: #333333;
          font-family: "SourceHanSansCN";
          font-weight: 600;
          margin-bottom: 0;
          margin-bottom: .125rem;
        }

        p {
          font-size: .375rem;
          color: #666666;
          font-family: "SourceHanSansCN";
          font-weight: normal;
          line-height: 2em;
        }
      }
      &.active{
        background-color: #f1f3f5;
        .job_item_content{
          display: block;
        }
      }
    }
  }
  .pagination_list{
    margin-bottom: 1.25rem;
  }
}

.news_detail {
  padding-top: 1rem;
  .news_title {
    font-size: .9rem;
    color: #a00c0f;
    text-align: center;
    margin-bottom: .5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .news_date {
    font-size: .6rem;
    color: #808080;
    text-align: center;
    margin-bottom: 1rem;
  }

  .news_content {
    font-size: .6rem;
    color: #808080;
    padding-bottom: 1rem;
  }

  .pagetion_btn {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;

    .a_btn {
      width: 2.5rem;
      flex: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding-right: 2.5rem;

      a {
        font-size: .5rem;
        color: #808080;
      }

      &:last-child {
        text-align: right;
        padding-left: 2.5rem;
        padding-right: 0;
      }
    }
  }

  .back_list {
    text-align: right;
    margin-bottom: 1rem;

    a {
      font-size: .5rem;
      color: #a00c0f;
    }
  }
}