@font-face {
  font-family: "DIN";
  font-weight: bold;
  /* Project id 2621899 */
  src: url('../fonts/DIN-Bold.otf') format('truetype');
}

@font-face {
  font-family: "DIN";
  font-weight: lighter;
  /* Project id 2621899 */
  src: url('../fonts/DIN-Light') format('truetype');
}

// @font-face {
//   font-family: "SourceHanSansCN";
//   font-weight: 500;
//   /* Project id 2621899 */
//   src: url('../fonts/SourceHanSansCN-Regular.otf') format('truetype');
// }

@font-face {
  font-family: "SourceHanSansCN";
  font-weight: normal;
  /* Project id 2621899 */
  src: url('../fonts/SourceHanSansCN-Normal.otf') format('truetype');
}

@font-face {
  font-family: "SourceHanSansCN";
  font-weight: 700;
  /* Project id 2621899 */
  src: url('../fonts/SourceHanSansCN-Bold.otf') format('truetype');
}

@font-face {
  font-family: "SourceHanSansCN";
  font-weight: 500;
  /* Project id 2621899 */
  src: url('../fonts/SourceHanSansCN-Regular.otf') format('truetype');
}

@font-face {
  font-family: "SourceHanSansCN";
  font-weight: 600;
  /* Project id 2621899 */
  src: url('../fonts/SourceHanSansCN-Medium.otf') format('truetype');
}

@font-face {
  font-family: "SourceHanSansCN";
  font-weight: 100;
  /* Project id 2621899 */
  src: url('../fonts/SourceHanSansCN-Light.otf') format('truetype');
}

input,
button,
textarea {
  background: none;
  outline: none;
  border: 1px solid #ccc;
}

// input:focus,
// textarea:focus,
// button:focus {
//   border: none;
// }

a {
  text-decoration: none;
  color: #333333;
  text-decoration: none;
}

a:hover,
a:active,
a:focus {
  color: #a00c0f;
  text-decoration: none;
}

ul {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

p {
  margin-bottom: 0;
}


body {
  min-height: 1000px;
  background-color: #fff;
  font-family: "SourceHanSansCN", "Microsoft YaHei", Helvetica, Arial, "Helvetica Neue", sans-serif;
}

* {
  letter-spacing: -.02em;
}

/* 页面1500px盒子 */

.container_zz {
  width: 100%;
  max-width: 1630px;
  margin: 0 auto;
  padding: 0 15px;
}


.visible_xs {
  display: none !important;
}

/* 顶部导航 */

.header_bg {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($color: #fff, $alpha: .5);
  width: 100%;
  z-index: 99;
  border-bottom: 1px solid #ffffff;

  &.navFixed {
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
  }

  .container_zz {
    width: 100%;
    padding: 0 50px;
    max-width: none;
  }
}

.header_nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  height: 102px;

  .header_logo {
    display: flex;
    align-items: center;
  }

  .header_list {
    flex: 1;
    width: 100px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0;
    padding-left: 0;
    display: flex;
    justify-content: center;

    >li {
      display: inline-block;
      position: relative;
      height: 47px;
      margin: 0 30px;
      &.active{
        >a {
  
          &::after{
            content: "";
            height: 4px;
            width: 100%;
            position: absolute;
            left: 0;
            bottom: 0;
            background-color: #b82124;
            border-radius: 2px;
          }
        }
      }
      >a {
        line-height: 47px;
        font-size: 18px;
        color: #000000;
        font-weight: Normal;
        display: inline-block;
        position: relative;

        &:hover::after{
          content: "";
          height: 4px;
          width: 100%;
          position: absolute;
          left: 0;
          bottom: 0;
          background-color: #b82124;
          border-radius: 2px;
        }
      }

      &:first-child {
        width: 50px;
      }

      .childMenu{
        background-color: #ffffff;
        width: 160px;
        padding-bottom: 10px;
        padding-top: 10px;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
        display: none;
        position: absolute;
        top: 47px;
        left: 50%;
        transform: translateX(-50%);
        li{
          padding: 5px 0;
          line-height: 30px;
          a{
            font-size: 16px;
          }
        }
      }
      &:hover{
        .childMenu{
          display: block;
        }
      }
    }
  }

  .header_right {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    background-color: rgba($color: #fff, $alpha: .4);
    border-radius: 15px;
    color: #fff;
    font-size: 16px;

    a {
      display: inline-block;
      color: #fff;
      font-size: 16px;
      margin: 0 12px;
    }
  }
}

.banner {
  .container_zz {
    width: 100%;
    max-width: none;
  }

  .swiper-container {
    position: relative;

    .swiper-slide {
      position: relative;

      >.imgFull {
        width: 100%;
        display: inline-block;
      }
    }

    .banner-prev,
    .banner-next {
      position: absolute;
      bottom: 64px;
      z-index: 11;
      outline: none;
      cursor: pointer;

      img {
        height: 46px;
      }
    }

    .banner-prev {
      left: calc(50% - 263px);
    }

    .banner-next {
      left: calc(50% + 220px);
    }

    .swiper-pagination {
      bottom: 83px;

      .my-bullet {
        width: 97px;
        height: 1px;
        background-color: rgba($color: #fff, $alpha: .4);
        display: inline-block;
        cursor: pointer;
        position: relative;

        .num {
          position: absolute;
          top: -30px;
          color: #fff;
          font-family: "DIN";
          font-weight: bold;
          font-size: 14.83px;
        }
      }

      .my-bullet-active {
        background-color: #fff;
        margin-bottom: -2px;
        height: 4px;

        .num {
          top: -29px;
        }
      }
    }

    .banner_more {
      position: absolute;
      left: 15.3516vw;
      bottom: 16.7969vw;
      z-index: 999;
      width: 6.95vw;
      height: 1.8vw;
      border: 1px solid #fff;
      border-radius:.9vw;
      line-height: 1.8vw;
      overflow: hidden;

      &::after {
        content: "";
        position: absolute;
        width: 15.625vw;
        height: 15.625vw;
        right: -14.84vw;
        top: -4.68vw;
        background-color: rgba($color: #fff, $alpha: .3);
        transform: rotate(48deg);
        transition: all .5s;
        z-index: -1;
      }

      a {
        padding-left: 1.48vw;
        position: relative;
        font-weight: 500;
        font-size: .7vw;
        color: #fff;
        display: block;

        .icon_more {
          position: absolute;
          right: .59vw;
          top: 50%;
          margin-top: -.5vw;
          width: 1.01vw;
        }
      }

      &:hover {
        &::after {
          right: -9.375vw;
        }
      }
    }
  }
}

.i_common_title {
  text-align: center;
  padding-top: 120px;

  .title_cn {
    font-size: 48px;
    color: #333333;
    font-weight: bold;
    line-height: 1em;
    margin-bottom: 10px;
  }

  .title_en {
    font-size: 30px;
    color: #666666;
    margin-bottom: 20px;
  }

  .title_more {
    padding-top: 15px;

    a {
      font-size: 22px;
      color: #b82023;
    }
  }
}

.i_solution {
  width: 100%;
  background: url(../images/bg/1.png), #F7F7F7;

  .i_solution_intro {
    font-size: 20px;
    text-align: center;
    margin-bottom: 90px;
  }

  .i_solution_title {
    margin-bottom: 30px;

    .title_cn {
      display: flex;
      font-size: 40px;
      color: #333333;
      line-height: 1.2em;

      &::after {
        content: "";
        width: 100px;
        margin-left: 15px;
        margin-right: 80px;
        flex: 1;
        height: 1px;
        background-color: #bfbfbf;
        align-self: center;
      }
    }

    .title_en {
      font-size: 28px;
      color: #666666;
    }
  }

  .solution_list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;

    li {
      width: 502px;
      height: 78px;
      background-color: rgba(255, 255, 255, 0.95);
      font-size: 28px;
      color: #666666;
      line-height: 78px;
      text-align: center;
      position: relative;
      cursor: pointer;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 4px;
        width: 100%;
        background-color: transparent;
      }

      &::after {
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;
        height: 0;
        border-width: 39px 32px;
        border-style: solid;
        border-right-color: #eeeeee;
        border-bottom-color: #eeeeee;
        border-left-color: transparent;
        border-top-color: transparent;
      }

      &.active {
        background-color: #b72023;
        color: white;

        &::before {
          background-color: #a00c0f;
        }

        &::after {
          border-right-color: #a00c0f;
          border-bottom-color: #a00c0f;
        }
      }
    }
  }

  .iproduct_show {
    .product_item {
      display: flex;

      .item_left {
        overflow: hidden;
        width: 768px;
        height: 706px;

        img {
          height: 100%;
          width: 100%;
        }
      }

      .item_right {
        flex: 1;
        width: 10px;
        display: flex;
        flex-direction: column;

        .item_header {
          display: flex;
          height: 354px;

          .item_bg {
            width: 320px;
            text-align: right;
            padding-left: 60px;
            display: flex;
            align-items: flex-end;
          }

          .item_info {
            flex: 1;
            width: 10px;
            text-align: right;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .item_title {
              display: flex;
              align-items: flex-end;
              justify-content: flex-end;
              width: 100%;
              margin-bottom: 20px;

              span {
                font-size: 63px;
                line-height: 60px;
                color: #333;

                &::after {
                  height: 60px;
                  width: 1px;
                  content: "";
                  background-color: #717a81;
                  display: inline-block;
                  margin-left: 7px;
                  margin-right: 20px;
                }
              }

              font-size: 32px;
              color: #000;
            }

            .item_content {
              width: 100%;

              p {
                font-size: 20px;
                color: #666666;
                line-height: 34px;
              }
            }
          }
        }

        .item_body {
          position: relative;
          display: flex;
          height: 10px;
          flex: 1;
          z-index: 1;
          justify-content: flex-end;
          align-items: center;

          .item_more {
            width: 174px;
            height: 50px;
            background-color: #b72023;
            text-align: center;
            margin-top: 100px;
            position: relative;

            a {
              font-size: 16px;
              color: #fff;
              display: block;
              line-height: 50px;
              position: relative;

              &::after {
                content: "";
                width: 15px;
                height: 2px;
                background-color: #fff;
                position: absolute;
                right: 33px;
                top: 50%;
                z-index: 1;
              }

              &::before {
                content: "";
                width: 69px;
                height: 2px;
                background-color: #fff;
                position: absolute;
                right: -53px;
                top: 50%;
                z-index: 1;
              }
            }

            &::after {
              content: "";
              position: absolute;
              right: 0;
              bottom: 0;
              height: 0;
              border-width: 25px 18px;
              border-style: solid;
              border-right-color: #a00c0f;
              border-bottom-color: #a00c0f;
              border-left-color: transparent;
              border-top-color: transparent;
            }
          }

          .item_img {
            margin-left: 20px;
          }

          &::after {
            content: "";
            right: calc(800px - 50vw + 8.5px);
            bottom: 0;
            width: calc(50vw + 32px - 8.5px);
            height: 356px;
            background-color: #dcdcdc;
            position: absolute;
            z-index: -1;
          }
        }
      }
    }
  }

  .field_swiper {
    padding-top: 96px;
    background-image: url(../images/home/field/bg.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;

    .i_solution_title {
      margin-bottom: 45px;
    }

    .swiper-wrapper {
      .swiper-slide {
        position: relative;

        >img {
          width: 100%;
        }

        .slide_content {
          position: absolute;
          left: 2.54vw;
          width: calc(100% - 5.08vw);
          display: flex;
          justify-content: space-between;
          align-items: center;
          height: 2.58vw;

          h3 {
            color: white;
            font-size: .976vw;
            font-weight: bold;
            margin: 0;
          }
        }

        &:nth-child(odd) {
          padding-top: 2.62vw;

          .slide_content {
            bottom: .9375vw;
            border-top: 1px solid #fff;
          }
        }

        &:nth-child(even) {
          padding-bottom: 2.62vw;

          .slide_content {
            top: .82vw;
            border-bottom: 1px solid #fff;
            > a >img{
              width: 1.29vw;
            }
          }
        }
      }
    }

    .field_action {
      display: flex;
      margin-top: 1.48vw;

      .field-pagination {
        width: 41vw;
        height: 3.5vw;
        background-color: rgba(0, 0, 0, 0.6);
        line-height: 3.5vw;
        text-align: right;

        .pagination_count {
          display: inline-block;
          margin-right: 10.5vw;
          font-size: .797vw;
          color: #fff;
          position: relative;
          left: auto;
          bottom: auto;
          width: auto;

          &::after {
            content: "";
            position: absolute;
            width: 1.56vw;
            height: 1px;
            background-color: #ffffff;
            left: -1.95vw;
            top: 50%;
            z-index: 1;
          }

          &::before {
            content: "";
            position: absolute;
            width: 9.179vw;
            height: 1px;
            background-color: #ffffff;
            right: -9.57vw;
            top: 50%;
            z-index: 1;
          }
        }
      }
    }

    .banner-prev {
      width: 3.9vw;
      height: 3.5vw;
      text-align: center;
      line-height: 3.5vw;
      background-color: #616161;

      img {
        transform: rotate(180deg);
        width: .78vw;
      }
    }

    .banner-next {
      width: 3.9vw;
      height: 3.5vw;
      text-align: center;
      line-height: 3.5vw;
      background-color: #b82023;

      img {
        width: .78vw;
      }
    }
  }
}

.i_news {
  margin-bottom: 40px;

  .news_swiper {
    margin-top: 48px;
    width: 100%;
    overflow: hidden;
    position: relative;

    .swiper-container {
      width: calc(100% + 120px);
      margin-left: -60px;
      padding-bottom: 100px;
    }

    .swiper-slide {
      opacity: .6;
      position: relative;

      >img {
        border-radius: 10px;
        width: 100%;
      }

      .content {
        transition: all .5s;
        opacity: 0;
        width: 16.33vw;
        height: 14.14vw;
        background-color: rgba($color: #fff, $alpha: .95);
        position: absolute;
        left: 1.95vw;
        top: 4.6875vw;
        border-radius: .39vw;
        box-shadow: 0 .39vw .39vw rgba($color: #a7a7a7, $alpha: .30);
        padding: 1.17vw .55vw 1.17vw 1.17vw;

        .title {
          font-size: .976vw;
          line-height: 1.4vw;
          color: #333333;
          margin-bottom: .976vw;
        }

        .details {
          font-size: .59vw;
          color: #666666;
          line-height: 1.09vw;
          margin-bottom: 1.17vw;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 3;
          overflow: hidden;
        }

        .time {
          font-size: .586vw;
          color: #999999;
          margin-bottom: 1.09vw;
        }

        .more {
          width: 4.57vw;
          height: 1.33vw;
          background-color: #b72023;
          text-align: center;
          position: relative;
          line-height: 1.33vw;
          
          display: inline-block;
          margin-right: .78vw;
          a{
            font-size: .59vw;
            color: #ffffff;
          }

          &::after {
            content: "";
            position: absolute;
            right: 0;
            bottom: 0;
            height: 0;
            border-width: .66vw .39vw;
            border-style: solid;
            border-right-color: #c64d4f;
            border-bottom-color: #c64d4f;
            border-left-color: transparent;
            border-top-color: transparent;
          }
        }
      }

      &.swiper-slide-active {
        opacity: 1;

        .content {
          opacity: 1;
        }
      }
    }

    .banner-prev {
      position: absolute;
      top: 40%;
      left: 21.64vw;
      z-index: 8;
      >img{
        width:1.875vw;
      }
    }

    .banner-next {
      position: absolute;
      top: 40%;
      right: 21.64vw;
      z-index: 8;
      >img{
        width:1.875vw;
      }
    }
  }
}

.i_service {
  background: url(../images/home/company/1/bg2.png) no-repeat left 360px, #f7f7f7;
  padding-bottom: 122px;

  .i_common_title {
    margin-bottom: 75px;
  }

  .service_title {
    margin-bottom: 40px;

    .title_b {
      font-size: 35px;
      color: #333333;
      margin-bottom: 10px;
    }

    .title_s {
      font-size: 20px;
      color: #999999;
    }
  }

  .service_list {
    display: flex;
    margin-bottom: 140px;

    li {
      margin-right: 40px;
      width: calc(25% - 30px);
      position: relative;

      >img {
        width: 100%;
      }

      .item_content {
        position: absolute;
        width: 316px;
        height: 90px;
        top: 116px;
        left: 25px;
        background-image: url(../images/home/company/1/bg.png);
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        padding-top: 13px;

        .item_no {
          width: 28px;
          height: 28px;
          border: 1px solid #636363;
          margin: 0 auto;
          margin-bottom: 8px;
        }

        .item_title {
          font-size: 20px;
          font-weight: bold;
        }
      }

      &:nth-child(4n) {
        margin-right: 0;
      }
    }
  }

  .i_partner {
    display: flex;

    .partner_left {
      flex: 1;
      width: 10px;

      .title1 {
        font-size: 51px;
        font-weight: lighter;
        color: #666666;
        line-height: 1em;
        margin-bottom: 15px;
      }

      .title2 {
        font-size: 60px;
        color: #333;
        font-weight: bold;
        line-height: 1em;
        margin-bottom: 8px;
      }

      .title3 {
        font-size: 20px;
        color: #666666;
        margin-bottom: 10px;
      }

      .line {
        width: 75px;
        height: 1px;
        background-color: #a0a0a0;
        margin-bottom: 60px;
      }

      .change_btn {
        display: flex;

        .btn_pre {
          margin-right: 30px;
        }
      }
    }

    .partner_right {
      width: 1190px;

      li {
        margin-right: 4px;
        height: 170px;
        background-color: #ffffff;
        display: flex;
        align-items: center;
        margin-bottom: 7px;
        justify-content: center;
        transition: all .5s;
        cursor: pointer;

        &:last-child {
          margin-right: 0;
        }

        &:hover {
          box-shadow: 0 0 30px rgba($color: #8b8b8b, $alpha: .4);
          position: relative;
          z-index: 9;
        }
      }

      .partner_list1 {
        display: flex;

        li {
          width: calc((100% - 28px) / 8);
        }
      }

      .partner_list2 {
        display: flex;

        li {
          width: calc((100% - 24px) / 7);
        }
      }
    }
  }
}

.i_contact {
  margin-bottom: 88px;

  .contact_header {
    height: 468px;

    >img {
      width: 100%;
      height: 100%;
    }

    .header_content {
      text-align: center;
      margin-top: -370px;

      .line {
        width: 164px;
        height: 1px;
        background-color: #b72023;
        display: inline-block;
        margin-bottom: 5px;
      }

      .title {
        font-size: 45px;
        font-weight: 500;
        color: white;
        margin-bottom: 10px;

        span {
          font-weight: lighter;
        }
      }

      .details {
        font-size: 20px;
        color: white;
      }

    }
  }

  .i_contact_details {
    height: 540px;
    display: flex;
    margin-top: -212px;

    .details_left {
      height: 540px;
      width: 926px;
      position: relative;

      >img {
        width: 100%;
        height: 100%;
      }

      .details_pre {
        position: absolute;
        bottom: 20px;
        right: 119px;
        cursor: pointer;
        z-index: 2;
      }

      .details_next {
        position: absolute;
        bottom: 20px;
        right: 29px;
        cursor: pointer;
        z-index: 2;
      }
    }

    .details_right {
      width: 100px;
      flex: 1;
      height: 540px;
      background-color: #ecedee;
      display: flex;
      flex-direction: column;
    }

    .details_info {
      padding-top: 70px;
      padding-left: 60px;
      height: 100px;
      flex: 1;

      li {
        display: flex;
        margin-bottom: 40px;

        .item_icon {
          width: 60px;
          height: 60px;
          border-radius: 50%;
          line-height: 60px;
          text-align: center;
          background-color: #dcdcdc;
          margin-right: 20px;
        }

        .item_intro {
          width: 10px;
          flex: 1;

          .item_title {
            font-size: 19px;
            color: #999999;
            font-weight: normal;
            font-family: "SourceHanSansCN";
          }

          .item_text {
            font-size: 19px;
            color: #666666;
            font-weight: normal;
            font-family: "SourceHanSansCN";
          }
        }
      }
    }

    .details_btn {
      background-color: #d2d2d2;
      height: 142px;
      display: flex;
      align-items: center;

      li {
        width: 204px;
        height: 63px;
        background-color: #b82023;
        border-radius: 4px;
        margin-left: 85px;
        text-align: center;
        line-height: 62px;

        >img {}

        a {
          display: block;
          font-size: 20px;
          color: #fff;
        }
      }
    }
  }
}

.footer {
  background: url(../images/footer/bg.jpg) no-repeat center bottom;
  background-size: cover;

  .header_border {
    height: 108px;
    border-bottom: 1px solid #bfbfbf;
    margin-bottom: 48px;
  }

  .footer_header {
    max-width: 1660px;
    margin-left: -60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 108px;

    .header_logo {}

    .header_ph {
      font-size: 27px;
      line-height: 1em;
      font-family: "DIN";
      font-weight: bold;
      color: #b82124;
      display: flex;
      align-items: center;

      >img {
        margin-right: 7px;
      }
    }
  }

  .footer_body {
    display: flex;
    max-width: 1660px;
    margin-left: -60px;
    padding-bottom: 60px;

    .footer_navlist {
      width: 10px;
      flex: 1;
      display: flex;

      >li {
        width: calc(100% / 6);
        height: 288px;
        padding-left: 20px;
        background: url(../images/footer/line.jpg) no-repeat top right;

        &:first-child {
          padding-left: 0;
        }

        &:last-child {
          background: none;
        }

        .item_title {
          font-size: 20px;
          font-family: "SourceHanSansCN";
          font-weight: normal;
          color: #333333;
          position: relative;
          line-height: 36px;
          margin-bottom: 10px;

          &::before {
            position: absolute;
            content: "";
            width: 100%;
            max-width: 52px;
            height: 1px;
            left: 0;
            bottom: 0;
            background-color: #434343;
          }
        }

        .item_list {
          li {
            a {
              font-size: 16px;
              color: #666666;
              line-height: 30px;
            }
          }
        }
      }
    }

    .footer_ewm {
      padding-top: 80px;
      width: 160px;
      margin-left: 130px;

      .ewm_img {
        width: 100%;

        >img {
          width: 100%;
        }
      }

      .ewm_text {
        text-align: center;
        font-size: 15px;
        font-family: "SourceHanSansCN";
        font-weight: normal;
        line-height: 2em;
      }
    }
  }

  .footer_info {
    line-height: 46px;
    background-color: rgba(0, 0, 0, 0.2);
    text-align: center;
    color: #666666;

    span {
      font-size: 15px;
      font-family: "SourceHanSansCN";
      font-weight: normal;
      margin-right: 40px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.inner_banner {
  background-size: cover;
  background-position: center top;
  height: 578px;
  overflow: hidden;

  .title_b {
    font-weight: bold;
    font-size: 52px;
    color: white;
    margin-top: 250px;
    margin-bottom: 20px;
  }

  .title_s {
    color: white;
    font-family: "SourceHanSansCN";
    font-weight: 500;
    font-size: 28px;
  }
}

.news_change {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  border-bottom: 1px solid #dcdcdc;

  li {
    padding: 0 7px;
    line-height: 84px;
    margin: 0 16px;

    a {
      font-size: 20px;
    }

    &.active {
      border-bottom: 3px solid #b72023;

      a {
        color: #b72023;
      }
    }
  }
}

.news_show {
  display: flex;
  padding-top: 58px;
  margin-bottom: 72px;

  .show_left {
    width: 631px;
    height: 566px;
    .show_item {

      img {
        width: 100%;
      }

      .bg_box {
        height: 70px;
        line-height: 70px;
        position: absolute;
        left: 0;
        bottom: 0;
        height: 70px;
        line-height: 70px;
        background-color: rgba(0, 0, 0, 0.6);
        width: 100%;
        color: white;
        font-size: 16px;
        padding: 0 100px 0 28px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    .swiper-pagination {
      height: 8px;
      bottom: 35px;
      right: 0;
      left: auto;
      display: inline-block;
      width: 160px;
      text-align: center;
      .my-bullet {
        width:8px;
        height: 8px;
        background-color: #fff;
        display: inline-block;
        border-radius: 4px;
        margin:0 4px;
        transition: all .5s;
      }

      .my-bullet-active {
        width: 27px;
      }
    }
  }

  .show_right {
    width: 10px;
    flex: 1;
    padding-left: 48px;
    padding-right: 18px;

    li {
      display: flex;
      margin-bottom: 19px;

      &:last-child {
        margin-bottom: 0;
      }

      .item_date {
        width: 121px;
        height: 127px;
        background-color: #b72023;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .item_days {
          font-size: 30px;
          font-family: "DIN";
          font-weight: lighter;
          color: white;
        }

        .item_year {
          font-size: 20px;
          font-family: "DIN";
          font-weight: lighter;
          color: white;
        }
      }

      .item_content {
        background-color: #f2f2f2;
        padding-top: 28px;
        padding-left: 35px;
        padding-right: 50px;
        flex: 1;
        width: 10px;

        .item_title {
          font-size: 18px;
          color: #333333;
          margin-bottom: 8px;
        }

        .item_detail,
        p {
          font-size: 14px;
          color: #666666;
          line-height: 22px;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          overflow: hidden;
        }
      }
    }
  }
}

.news_list {
  border-top: 1px solid #dcdcdc;

  .news_item {
    border-bottom: 1px solid #dcdcdc;
    display: flex;
    padding: 45px 0 50px 0;

    .item_date {
      width: 238px;

      .item_days {
        font-size: 54.93px;
        color: #999999;
        font-family: "DIN";
        font-weight: bold;
      }

      .item_right {
        .item_year {
          font-weight: normal;
          font-size: 18px;
          color: #999999;
        }

        >img {}
      }
    }

    .item_img {
      width: 273px;
      height: 166px;
      overflow: hidden;
      
      img {
        transition: all .5s;
        width: 100%;
        height: 100%;
      }
      &:hover{
        img{
          transform: scale(1.1);
        }
      }
    }

    .item_detail {
      padding-left: 34px;
      padding-top: 10px;

      .item_title {
        font-size: 18px;
        color: #333333;
        font-family: "SourceHanSansCN";
        font-weight: bold;
        margin-bottom: 8px;
      }

      .item_content,
      .item_content p {
        font-size: 14px;
        color: #666666;
        line-height: 28px;

      }

      .item_content {
        margin-bottom: 40px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
      }

      .more {}
    }
  }
}

.pagination_list {
  display: flex;
  justify-content: center;
  padding-top: 32px;
  padding-bottom: 102px;

  li {
    width: 48px;
    height: 48px;
    border: 1px solid #dcdcdc;
    line-height: 48px;
    text-align: center;
    margin: 0 13px;

    a {
      font-size: 16px;
      color: #999999;
      font-family: "SourceHanSansCN";
      display: block;
    }

    &.active {
      background-color: #a00c0f;

      a {
        color: #ffffff;
      }
    }

    &.change_btn {
      img {
        margin-top: -3px;
      }
    }
  }
}

.contact_wrapper {
  padding-top: 80px;

  .inner_common_title {
    text-align: center;
    margin-bottom: 52px;

    .title_cn {
      font-size: 40px;
      color: #333333;
    }

    .title_en {
      font-size: 22px;
      color: #999999;
    }

    &::after {
      content: "";
      width: 92px;
      height: 1px;
      background-color: #a00c0f;
      display: inline-block;
    }
  }

  .map {
    height: 694px;
    width: 100%;

    .BMapLib_bubble_top,
    .BMapLib_trans,
    .anchorBL {
      display: none;
    }

    .BMapLib_SearchInfoWindow {
      border: none;
      background-color: transparent;
      bottom: -340px !important;
    }

    .BMapLib_bubble_center {
      .BMapLib_bubble_content {
        padding: 0;

        .pop_map {
          width: 374px;
          height: 114px;
          background: #bb2b2f;
          display: flex;
          padding-top: 15px;
          position: relative;

          .pop_content {
            width: 100%;
            padding: 0 30px;

            .pop_title {
              width: 100%;
              font-size: 24px;
              color: #ffffff;
              margin-bottom: 12px;
              font-family: "SourceHanSansCN";
              font-weight: bold;
              border-bottom: 1px solid #ffffff;
              padding-bottom: 10px;
            }

            .pop_addr {
              width: 100%;
              font-size: 16px;
              color: #ffffff;
              line-height: 16px;
              font-family: "SourceHanSansCN Normal";
            }
          }

          &::after {
            content: "";
            position: absolute;
            height: 0;
            border-style: solid;
            border-width: 12px 10px;
            border-color: #bb2b2f transparent transparent transparent;
            bottom: -24px;
            left: calc(50% - 10px);
          }
        }
      }
    }
  }

  .contact_box {
    padding: 70px 56px;
    display: flex;
    width: 1530px;
    margin: -116px auto 256px auto;
    box-shadow: 0 10px 20px rgba($color: #e9e9e9, $alpha: .8);
    position: relative;
    z-index: 99;
    background-color: #ffffff;

    .box_left {
      padding: 22px 42px 15px 42px;
      width: 286px;
      border: 1px solid #dcdcdc;

      >img {
        width: 100%;
        margin-bottom: 20px;
      }

      .ewm_info {
        font-size: 20px;
        font-family: "SourceHanSansCN";
        font-weight: normal;
        text-align: center;
      }
    }

    .box_right {
      width: 10px;
      flex: 1;
      padding-top: 36px;
      padding-left: 76px;
      padding-right: 50px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-content: flex-start;

      li {
        width: 430px;
        display: flex;

        .item_icon {
          width: 78px;
          height: 78px;
          border-radius: 50%;
          border: 1px solid #b82024;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 20px;
        }

        .item_info {
          width: 10px;
          flex: 1;

          .item_name {
            font-size: 22px;
            font-weight: bold;
            color: #333333;
            font-family: "SourceHanSansCN";
            border-bottom: 1px solid #e5e5e5;
            padding-bottom: 3px;
          }

          .item_det {
            font-size: 20px;
            color: #999999;
            font-weight: normal;
            font-family: "SourceHanSansCN";
            padding-top: 7px;
          }
        }

        &:nth-child(1),
        &:nth-child(2) {
          margin-bottom: 60px;
        }
      }
    }
  }
}

.inner_nav {
  display: flex;
  padding-top: 20px;
  border-bottom: 1px solid #dcdcdc;

  li {
    padding: 0 7px;
    line-height: 84px;
    margin: 0 16px;

    a {
      font-size: 20px;
    }

    &.active {
      border-bottom: 3px solid #b72023;

      a {
        color: #b72023;
      }
    }
  }
}

.robot_title {
  font-size: 40px;
  color: #333333;
  font-family: "SourceHanSansCN";
  font-weight: bold;
  line-height: 1em;
}

.robot_title_en {
  color: #999999;
  font-size: 22px;
  font-family: "SourceHanSansCN";
  font-weight: normal;
  line-height: 2.2em;
  margin-bottom: 35px;

  .robot_border {
    border-bottom: 1px solid #b72023;
    display: inline-block;
  }
}

.robot_intro {
  padding-top: 100px;
  height: 770px;
  background: url(../images/robot/bg.png) left bottom no-repeat, #ecf1f5;

  .intro_flex {
    display: flex;

    .intro_left {
      width: 10px;
      flex: 1;
      padding-right: 90px;
    }

    .intro_right {
      width: 560px;

      img {
        width: 100%;
      }
    }
  }

  .intro_content {
    font-family: "SourceHanSansCN";
    font-weight: normal;
    margin-bottom: 120px;

    p {
      font-size: 16px;
      line-height: 2em;
      color: #666666;
    }
  }

  .white_box {
    width: 1094px;
    display: flex;
    justify-content: space-around;
    background-color: #ffffff;
    position: relative;
    z-index: 1;
    height: 142px;
    align-items: center;

    .box_item {
      display: inline-block;
      color: #333333;
      font-size: 16px;
      display: flex;
      align-items: center;

      img {
        margin-right: 8px;
      }

      span {
        font-size: 32px;
        color: #b72023;
        font-family: "DIN";
        font-weight: normal;
      }
    }
  }

  &.xianggu_intro{
    height: 516px;
    display: flex;
    .intro_flex {
      height: 100%;
      .intro_right {
        display: flex;
        align-self: flex-end;
      }
    }
  }
}

.robot_pro {
  padding-top: 150px;
  margin-bottom: 160px;
  &.xianggu_pro{
    padding-top: 100px;
    margin-bottom: 100px;
  }

  .pro_flex {
    display: flex;

    .pro_left {
      width: 10px;
      flex: 1;
    }

    .pro_right {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      li {
        margin-left: 85px;
        display: inline-block;
        line-height: 72px;
        text-align: center;

        &.active {
          position: relative;

          &::after {
            content: "";
            position: absolute;
            height: 7px;
            width: 100%;
            border-radius: 3.5px;
            background-color: #b82024;
            left: 50%;
            bottom: 0;
            transform: translateX(-50%);
          }

          a {
            color: #b82024;
          }
        }

        a {
          font-size: 30px;
          font-family: "SourceHanSansCN";
          font-weight: normal;
        }
      }
    }
  }

  .pro_list {
    display: flex;
    flex-wrap: wrap;

    .pro_item {
      width: calc((100% / 3) - 40px);
      margin-right: 60px;
      height: 466px;
      margin-bottom: 32px;
      overflow: hidden;

      &:nth-child(3n) {
        margin-right: 0;
      }

      img {
        width: 100%;
        height: 466px;
        transition: all .5s;
      }

      &:hover {
        img {
          transform: scale(1.05);
        }
      }
    }
  }
}

.robot_customer {
  background: url(../images/robot/customers/bg.jpg) no-repeat center center, #ffffff;
  padding-top: 105px;
  padding-bottom: 95px;
  &.xianggu_customer{
    padding-top: 80px;
  }
  .xianggu_customer_logo{
    padding-top: 30px;
    .logo_item{
      width: 310px;
      height: 140px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
      display: flex;
      background-color: #ffffff;
      align-items: center;
      justify-content: center;
    }
  }

  .robot_title_en {
    margin-bottom: 25px;
  }

  .swiper-container {
    max-width: 1435px;
    width: 100%;
    margin: 0 auto;
  }

  .customer_list {
    display: flex;
    flex-wrap: wrap;

    .customer_item {
      background-color: #ffffff;
      width: calc( (100% / 7) - 20px);
      height: 184px;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 13px 10px;
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);

      img {
        width: 162px;
      }
    }
  }

  .container_zz {
    position: relative;
  }

  .banner-prev,
  .banner-next {
    position: absolute;
    bottom: 30%;
    transform: translateY(-50%);

    .btb_h {
      display: none;
    }

    &:hover {
      .btn_o {
        display: none;
      }

      .btb_h {
        display: block;
      }
    }
  }

  .banner-prev {
    left: 0;
  }

  .banner-next {
    right: 0;
  }
}

.robot_culture {
  padding-top: 114px;
  padding-bottom: 165px;
  background-image: url(../images/robot/bg2.jpg);
  background-size: cover;
  background-position: center center;

  .culture_list {
    display: flex;

    .culture_item {
      width: 25%;
      height: 260px;
      background-color: #b72023;
      display: flex;
      justify-content: center;
      align-items: center;

      .item_icon {
        width: 85px;
        height: 85px;
        background-color: #ffffff;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 15px;
      }

      .item_info {
        .item_title_cn {
          font-size: 24px;
          color: #fff;
          font-family: "SourceHanSansCN";
          font-weight: bold;
        }

        .item_title_en {
          font-size: 14px;
          color: #fff;
          font-family: "SourceHanSansCN";
          font-weight: normal;
        }

      }

      &:nth-child(odd) {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;

        .item_info {

          .item_title_cn {
            color: #333;
          }

          .item_title_en {
            color: #333;
          }
        }
      }
    }
  }
}

.job_top {
  background-color: #f9fafb;

  .welfare_title {
    span {
      background-color: #f9fafb;
    }
  }
}

.job_intro {
  padding-top: 115px;
  margin-bottom: 80px;

  .intro_title {
    font-size: 48px;
    color: #333333;
    font-family: "SourceHanSansCN";
    font-weight: normal;
    text-align: center;
    margin-bottom: 10px;
  }

  .intro_content {
    color: #666666;
    font-family: "SourceHanSansCN";
    font-weight: normal;
    font-size: 24px;
    text-align: center;
    line-height: 2em;
    margin-bottom: 35px;
  }

  .intro_box {
    display: flex;
    justify-content: space-between;

    .intro_left,
    .intro_mid,
    .intro_right {
      width: 505px;
      height: 660px;
      display: flex;
      flex-direction: column;

      .intro_item {
        overflow: hidden;
        margin-bottom: 30px;

        >img {
          width: 100%;
          height: 100%;
        }
      }
    }

    .intro_left {}

    .intro_mid {}

    .intro_right {
      flex-direction: row;
    }

    .intro_item {
      position: relative;

      .item_title {
        position: absolute;
        font-size: 20px;
        color: #ffffff;
        font-family: "SourceHanSansCN";
        font-weight: normal;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 54px;
        line-height: 54px;
        background-color: rgba(0, 0, 0, 0.6);
        text-align: center;
      }
    }
  }
}

.welfare_title {
  background: url(../images/job/title_line.jpg) repeat-x left center;
  text-align: center;
  margin-bottom: 50px;

  span {
    font-size: 48px;
    background-color: #ffffff;
    padding: 0 32px;
    display: inline-block;
  }
}

.welfare_list {
  display: flex;
  flex-wrap: wrap;

  .welfare_item {
    width: calc(100%/3 - 42px);
    height: 276px;
    margin-right: 63px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
    position: relative;
    background-color: #ffffff;

    &::after {
      position: absolute;
      content: "";
      width: 80px;
      height: 2px;
      background-color: #b82124;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
    }

    &:nth-child(3n) {
      margin-right: 0;
    }

    .item_icon {
      margin-bottom: 30px;
    }

    .item_title {
      font-size: 30px;
      color: #333333;
      font-family: "SourceHanSansCN";
      font-weight: normal;
    }
  }
}

.job_info {
  padding-top: 120px;
  .welfare_title{
    margin-bottom: 40px;
  }
  .job_list {
    margin-bottom: 20px;
    .job_item {
      transition: all .5s;
      .job_item_top {
        display: flex;
        font-size: 20px;
        font-family: "SourceHanSansCN";
        font-weight: normal;
        padding:0 15px;
        height: 85px;
        line-height: 84px;
        border-bottom: 1px solid #e5e5e5;

        .top_left {
          flex: 1;
          width: 10px;
          color: #333333;
        }

        .top_right {
          width: 300px;
          color: #999999;
          span{
            margin:0 14px;
          }
          .show_more{
            display: inline-block;
            width: 100px;
            text-align: right;
            cursor: pointer;
          }
        }
      }

      .job_item_content {
        padding:30px 20px;
        display: none;
        h6 {
          font-size: 15px;
          color: #333333;
          font-family: "SourceHanSansCN";
          font-weight: 600;
          margin-bottom: 0;
          margin-bottom: 5px;
        }

        p {
          font-size: 15px;
          color: #666666;
          font-family: "SourceHanSansCN";
          font-weight: normal;
          line-height: 2em;
        }
      }
      &.active{
        background-color: #f1f3f5;
        .job_item_content{
          display: block;
        }
      }
    }
  }
  .pagination_list{
    margin-bottom: 50px;
  }
}

.news_detail {
  padding-top: 90px;

  .news_title {
    font-size: 45.8px;
    color: #a00c0f;
    text-align: center;
    margin-bottom: 34px;
  }

  .news_date {
    font-size: 25px;
    color: #808080;
    text-align: center;
    margin-bottom: 87px;
  }

  .news_content {
    font-size: 25px;
    color: #808080;
    padding-bottom: 110px;
  }

  .pagetion_btn {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;

    .a_btn {
      width: 100px;
      flex: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding-right: 100px;

      a {
        font-size: 20.8px;
        color: #808080;

        &:hover {
          color: #a00c0f;
        }
      }

      &:last-child {
        text-align: right;
        padding-left: 100px;
        padding-right: 0;
      }
    }
  }

  .back_list {
    text-align: right;
    margin-bottom: 70px;

    a {
      font-size: 20.8px;
      color: #a00c0f;
    }
  }
}