@font-face {
  font-family: "Alibaba";
  font-weight: 700;
  /* Project id 2621899 */
  src: url('../fonts/Alibaba-PuHuiTi-Bold.otf') format('truetype');
}

@font-face {
  font-family: "Alibaba";
  font-weight: 900;
  /* Project id 2621899 */
  src: url('../fonts/Alibaba-PuHuiTi-Heavy.otf') format('truetype');
}

@font-face {
  font-family: "Alibaba";
  font-weight: 500;
  /* Project id 2621899 */
  src: url('../fonts/Alibaba-PuHuiTi-Regular.otf') format('truetype');
}

@font-face {
  font-family: "Alibaba";
  font-weight: 600;
  /* Project id 2621899 */
  src: url('../fonts/Alibaba-PuHuiTi-Medium.otf') format('truetype');
}

@font-face {
  font-family: "Alibaba";
  font-weight: 100;
  /* Project id 2621899 */
  src: url('../fonts/Alibaba-PuHuiTi-Light.otf') format('truetype');
}

input,
button,
textarea {
  background: none;
  outline: none;
  border: 1px solid #ccc;
}

// input:focus,
// textarea:focus,
// button:focus {
//   border: none;
// }

a {
  text-decoration: none;
  color: #666666;
  text-decoration: none;
}

a:hover,
a:active,
a:focus {
  color: #019ED5;
  text-decoration: none;
}

ul {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}


body {
  min-height: 1000px;
  background-color: #fff;
  font-family: "Alibaba", "Microsoft YaHei", Helvetica, Arial, "Helvetica Neue", sans-serif;
}

* {
  letter-spacing: -.02em;
}

/* 页面1500px盒子 */

.container_zz {
  width: 100%;
  max-width: 1630px;
  margin: 0 auto;
  padding: 0 15px;
}


.visible_xs {
  display: none !important;
}

/* 顶部导航 */

.header_bg {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($color: #fff, $alpha: .5);
  width: 100%;
  z-index: 99;
  border-bottom: 1px solid #ffffff;

  &.navFixed {
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
  }

  .container_zz {
    width: 100%;
    padding: 0 50px;
    max-width: none;
  }
}

.header_nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  height: 102px;

  .header_logo {
    display: flex;
    align-items: center;
  }

  .header_list {
    flex: 1;
    width: 100px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0;
    padding-left: 0;
    display: flex;
    justify-content: center;

    >li {
      display: inline-block;
      position: relative;
      height: 47px;
      margin: 0 30px;

      >a {
        line-height: 47px;
        font-size: 18px;
        color: #000000;
        font-family: "Alibaba";
        font-weight: Normal;
        display: inline-block;
        position: relative;

        &:hover::after {
          content: "";
          height: 4px;
          width: 100%;
          position: absolute;
          left: 0;
          bottom: 0;
          background-color: #b82124;
          border-radius: 2px;
        }
      }

      &:first-child {
        width: 50px;
      }
    }
  }

  .header_right {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    background-color: rgba($color: #fff, $alpha: .4);
    border-radius: 15px;
    color: #fff;

    a {
      display: inline-block;
      color: #fff;
      font-size: 16px;
      margin: 0 12px;
    }
  }
}

.banner {
  .container_zz {
    width: 100%;
    max-width: none;
  }

  .swiper-container {
    position: relative;

    .swiper-slide {
      position: relative;

      >.imgFull {
        height: 100%;
        display: inline-block;
      }
    }

    .banner-prev,
    .banner-next {
      position: absolute;
      bottom: 64px;
      z-index: 11;
      outline: none;
      cursor: pointer;

      img {
        height: 46px;
      }
    }

    .banner-prev {
      left: calc(50% - 263px);
    }

    .banner-next {
      left: calc(50% + 220px);
    }

    .swiper-pagination {
      bottom: 83px;

      .my-bullet {
        width: 97px;
        height: 1px;
        background-color: rgba($color: #fff, $alpha: .4);
        display: inline-block;
        cursor: pointer;
        position: relative;

        .num {
          position: absolute;
          top: -30px;
          color: #fff;
          font-family: "DIN";
          font-weight: bold;
          font-size: 14.83px;
        }
      }

      .my-bullet-active {
        background-color: #fff;
        margin-bottom: -2px;
        height: 4px;

        .num {
          top: -29px;
        }
      }
    }

    .banner_more {
      position: absolute;
      left: 15.3516vw;
      bottom: 16.7969vw;
      z-index: 999;
      width: 178px;
      height: 46px;
      border: 1px solid #fff;
      border-radius: 23px;
      line-height: 44px;
      overflow: hidden;

      &::after {
        content: "";
        position: absolute;
        width: 400px;
        height: 400px;
        right: -380px;
        top: -120px;
        background-color: rgba($color: #fff, $alpha: .3);
        transform: rotate(48deg);
        transition: all .5s;
        z-index: -1;
      }

      a {
        padding-left: 38px;
        position: relative;
        font-family: "Alibaba";
        font-weight: 500;
        font-size: 18px;
        color: #fff;
        display: block;

        .icon_more {
          position: absolute;
          right: 15px;
          top: 50%;
          margin-top: -13px;
        }
      }

      &:hover {
        &::after {
          right: -240px;
        }
      }
    }
  }
}

.i_common_title {
  text-align: center;
  padding-top: 120px;

  .title_cn {
    font-size: 48px;
    color: #333333;
    font-weight: bold;
    line-height: 1em;
  }

  .title_en {
    font-size: 30px;
    color: #666666;
    margin-bottom: 20px;
  }
}

.i_solution {
  height: 1120px;
  width: 100%;
  background: url(../images/bg/1.png);

  .i_solution_intro {
    font-size: 20px;
    text-align: center;
    margin-bottom: 80px;
  }

  .i_solution_title {
    .title_cn {
      display: flex;
      font-size: 40px;
      color: #333333;
      line-height: 1.2em;
      &::after{
        content: "";
        width: 100px;
        margin-left: 15px;
        margin-right: 80px;
        flex: 1;
        height: 1px;
        background-color: #bfbfbf;
        align-self: center;
      }
    }

    .title_en {
      font-size: 28px;
      color: #666666;
    }
  }
}